"*":
  "advanced-open-file":
    createDirectories: true
  core:
    disabledPackages: [
      "symbols-view"
      "vim-mode-plus"
    ]
    telemetryConsent: "no"
    useCustomTitleBar: true
  editor:
    fontFamily: "Fira Mono"
    fontSize: 15
    lineHeight: 1.8
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "38b05d84-d4a9-dfad-9bb8-6f87a9a89176"
  "file-icons":
    coloured: false
    onChanges: true
  "flow-ide":
    executablePath: "/Users/timomaemecke/bin/flow"
  "grammar-token-limit": {}
  "linter-eslint":
    globalNodePath: "/Users/timomaemecke/.nvm/versions/node/v6.9.1"
    useGlobalEslint: true
  "linter-js-standard":
    checkStyleDevDependencies: true
  minimap:
    plugins:
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "one-dark-ui":
    layoutMode: "Compact"
  "spell-check":
    locales: [
      "en-US"
      "de-DE"
    ]
  "tree-view": {}
  welcome:
    showOnStartup: false
