# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atomm.io/using-atom/sections/basic-customization/#_customizing_keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'atom-text-editor':
  'ctrl-space': 'jumpy:toggle'
  'ctrl-cmd-n s': 'narrow:scan'
  'cmd-k n left': 'pane:split-left-and-move-active-item'
  'cmd-k n right': 'pane:split-right-and-move-active-item'
  'cmd-k n up': 'pane:split-up-and-move-active-item'
  'cmd-k n down': 'pane:split-down-and-move-active-item'
  'cmd-k c left': 'pane:split-left-and-copy-active-item'
  'cmd-k c right': 'pane:split-right-and-copy-active-item'
  'cmd-k c up': 'pane:split-up-and-copy-active-item'
  'cmd-k c down': 'pane:split-down-and-copy-active-item'
  'cmd-k left': 'window:move-active-item-to-pane-on-left'
  'cmd-k right': 'window:move-active-item-to-pane-on-right'
  'cmd-k down': 'window:move-active-item-to-pane-below'
  'cmd-k up': 'window:move-active-item-to-pane-above'
  'cmd-ctrl-,': 'pane:decrease-size'
  'cmd-ctrl-.': 'pane:increase-size'
